{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4">
			<ul class="list-group">
				<li class="list-group-item li_color">{{ user }}</li>
				<li class="list-group-item "><img src="/media/{{ bla }}" class="img_size_330"/></li>	
			</ul>
			<ul class="list-group">
				<li class="list-group-item li_color"><a href="{% url 'add_category' %}" class="">Create Category</a></li>
				<li class="list-group-item li_color"><a href="{% url 'add_subcategory' %}" class="">Add Subcategory</a></li>
			</ul>

			<ul class="list-group">
			
				<li class="list-group-item li_color category"><a class="a_hover" href="">Categories</a>
				{% load mptt_tags %}
					<ul class="list-group subcategory">
					{% recursetree category %}
						
						<li	class="list-group-item li_color ">
						
						<a href="{% url 'profile_category' node.pk %}">{{ node.category_title }}</a>
						
						{% if not node.is_leaf_node %}
						    <ul class="children">
                   				{{ children }}
               				</ul>
               			{% endif %}	
						
				{% endrecursetree %}		
						
					</ul>	
				</li>
				<li class="list-group-item li_color"><a href="{% url 'add_note' %}">Add new note</a></li>
				
			</ul>
	
		</div>
		<div class="col-xs-6">	
						<ul class="list-group">	
						
							<li class="list-group-item hover_li">Me: <a href="" class="right">Edit</a>

								<ul class="list-group">
									<li class="list-group-item">{{ user.first_name }}</li>
									<li class="list-group-item">{{ user.last_name }}</li>
									<li class="list-group-item">{{ user.email }}</li>
								</ul>	
							</li>
						</ul>
						<p class="li_color">My notes:</p>
						<div class="divider_light"></div>

						{% block cont_block %}

							
							
							<ul class="list-group" id="all_notes">
							<!--								
							<ul class="list-group"><li class="list-group-item"><a href=''class="">Only me</a><li><li class="list-group-item"><a href=''class="">All users</a></li></ul>-->
							</ul>
													

						{% endblock %}
		</div>
		<div class='col-xs-2'>
			
			<ul class="list-group" id="tags">TAGS:				
			</ul>	
		</div>		
	</div>			{% load staticfiles %}
</div>	

<script>
	
	$.get("http://127.0.0.1:8000/rest_app/user/",function(res){
		res.forEach(function(item){
			$("#tag_notes").append('<li class="list-group-item radiusli">'+item+'</li><li class="list-group-item radiusli">'+item+'</li>');						
		});
	})

	$.get("http://127.0.0.1:8000/rest_app/user/{{ user.id }}/notes/",function(res){
		res.forEach(function(item){
			$("#all_notes").append('<ul class="list-group t_menu"><li class="list-group-item"><a href="" class="">Who can see it</a></li><li class="list-group-item"><a href="/note/add_tag/'+item.id+'" class="">Tag it</a></li><li class="list-group-item"><a href="/note/edit_note/'+item.id+'" class="">Edit</a></li><li class="list-group-item"><a href="/note/add_category_to_the_note/'+item.id+'" class="">Add category</a></li><li class="list-group-item"><a href="/note/delete/'+item.id+'" class="">Delete</a></li></ul><ul class="list-group"><li class="list-group-item radiusli">'+item.heading+'</li><li class="list-group-item radiusli" style="color:'+item.font_color+'; font-size:'+item.font_size+'px;">'+item.text+'</li><li class="list-group-item" src="'+item.image+'"></li></ul><div class="divider"></div>');						
		});
	})

	
	$.get("http://127.0.0.1:8000/rest_app/user/{{ user.id }}/tags/",function(res){
		res.forEach(function(item){
			$("#tags").append('<a href="/note/notes_of_tag/'+item.id+'"><li class="list-group-item radiusli">'+item.tag_name+'</li></a>');
			
		});
	})
</script>

{% endblock %}
