{% extends 'user_profile/profile.html' %}
{% block cont_block %}
	
	
						<ul class="list-group">	

							<li class="list-group-item hover_li">{{ category_title }}: <a href="" class="right">Edit</a>
							{% for note in notes %}
								<ul class="list-group">
									<li class="list-group-item">{{ note }}</li>
							{% endfor %}		
									
									
								</ul>	
							</li>

						</ul>
	
{% endblock %}
