{% extends 'user_profile/profile.html' %}
{% block cont_block %}
					
					{% for tag_name, tag_notes in notes.items %}
						<ul class="list-group" id="">	
							<li class="list-group-item">{{ tag_name.tag_name }}:
							{% for note in tag_notes %}
								<ul class="list-group" id="">	
									<li class="list-group-item">{{ note.heading }}</li>
									<li class="list-group-item">{{ note.text }}</li>
								</ul>
							{% endfor %}		
							</li>
						</ul>
					{% endfor %}	
{% endblock %}
