{% extends 'user_profile/profile.html' %}
{% block cont_block %}
<ul class="list-group">	
							{% for note in notes %}						
							<li class="list-group-item hover_li">{{ note.heading }}: <a href="" class="right">Edit</a>
																					 <a href="" class="right_link">Add category</a>
																					 <a href="{% url 'add_tag' note.pk %}" class="right_link">Tag it</a>

								<ul class="list-group">
									<li class="list-group-item">{{ note.text }}</li>
									<li class="list-group-item">{{ note.image }}</li>
									
								</ul>	
							</li>
							{% endfor %}	
						</ul>
{% endblock %}						