{% extends 'base.html' %}
{% block content %}

	<div class="container-fluid">
		<p>	
		{{ form.errors }}
		</p>
		<form action ='' method = "post">
			<div class="row">
				<div class="col-xs-6">
					{% csrf_token %}
					<h1 class="text-center radius">Select a note</h1>
					
					<h1>Input tag name</h1>
					<input name = "tag_name">
						{{ form.form.tag_name }} </input>					
												
					<input type = "submit" value = "Send" class=" btn-info btn-sm my_button" />
					</div>	
			</form>	
		</div>
			
{% endblock %}