{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<form action='' method="POST" enctype="multipart/form-data" class="add_new_author">
		<fieldset>
    	<legend>Adding</legend>	
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-success"/>
		</fieldset>
	</form>
</div>		
{% endblock %}