{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
		<p>	
		{{ form.errors }}
		</p>
		<form action ='' method = "post">
			<div class="row">
				<div class="col-xs-6">
					{% csrf_token %}
					
					<label for = "categories">Choose:</label>
					<select id = "categories" name = "category">
							{% for a, a in form.fields.category.choices %}
								
							<option value="{{ a }}">{{ a }}</option>
							{% endfor %}		
					</select>
					
					<input type="submit" class="btn btn-success"/>			
				</div>
			</div>			
		</form>	
</div>
{% endblock %}