{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<h2 class="author_color">Choose the reader below:</h2>

	<ul class="list-group"  id='users'>		
		
	</ul>

</div>

<script>
	$.get("http://127.0.0.1:8000/rest_app/users/",function(res){
		res.forEach(function(item){
			$("#users").append('<a href="'+item.id+'"><li class="list-group-item ">'+item.username+'</li></a>');
				
		});
	})
</script>
{% endblock %}