{% extends 'base.html' %}
{% block content %}
{% load cache %}
<!--
{% cache 50 author %}
-->
<div class="container-fluid">
	<h2 class="author_color">Choose the author below:</h2>
	{% for author in author_list %}
	<ul class="list-group inl_block">		
		<li class="list-group-item">

			<a href="{% url 'one_author' author.pk %}">{{ author }}
				<li class="list-group-item">
					<img src="{{ author.profile_image.url }}" class="img_size_130"/>
				</li>
			</a>

		</li>
		<li class="list-group-item">
			<a href="{% url 'delete_author' author.pk %}">Delete</a>
		</li>
	</ul>
	{% endfor %}
	
</div>
<!--
{% endcache %}
-->
{% endblock %}