{% extends 'base.html' %}

{% block content %}

	<div class="container-fluid">
       <div class="row">
			<div class="col-xs-8">
				<h1 class="text-center roww radius">Notes:</h1>

				<ul class="list-group">

				{% for note in note_list %}	
					<li class="list-group-item radiusli">
						{{ note.author }}
						<ul class="list-group">
							<li class="list-group-item radiusli">
							{{ note.heading }}
							</li>
						</ul>
					</li>	
				
				{% empty %}
					<li class="list-group-item">No notes</li>	
				{% endfor %}
				</ul>

			</div>

			<div class="col-xs-4">
            		<h1 class="text-center roww radius">_</h1>
                    <ul class="list-group">
                        <li class="list-group-item radiusli"><a href="{% url 'user_profile' user.pk %}">My page</a></li>      
                        <li class="list-group-item radiusli"><a href="{% url 'user_profile' user.pk %}">My friends</a></li>
                        <li class="list-group-item radiusli"><a href="{% url 'user_profile' user.pk %}">My notes</a></li> 

                    </ul>
                
                
            </div>
					
		</div>	
		
		
	</div>

{% endblock %}