{% extends 'base.html' %}

{% block content %}

	<div class="container-fluid">
       <div class="row">
			<div class="col-xs-8" >
				<h1 class="text-center roww radius">Notes:</h1>
								
				<ul class="list-group" id="blah">
				</ul>
								
			</div>

			<div class="col-xs-4">
            	<h1 class="text-center roww radius">_</h1>
                    <ul class="list-group">
                        <li class="list-group-item radiusli"><a href="{% url 'user_profile' user.pk %}">My page</a></li>     
                        <li class="list-group-item radiusli"><a href="{% url 'list_of_users' %}">All users</a></li>
                    </ul>
  
            </div>
					
		</div>	
	
	</div>

<script>
	

	$.get("http://127.0.0.1:8000/rest_app/notes/",function(res){
		res.forEach(function(item){
			$("#blah").append('<li class="list-group-item radiusli">'+item.author+' '+item.heading+'</li>');
				
		});
	})
</script>
{% endblock %}