{% extends 'base.html' %}
{% block content %}
{% block log_in %}
	{% if user.is_authenticated %}
	<p>Welcome, {{ user.username }}</p>

	{% else %}
	<p>Welcom, new user. Please log in.</p>
	<form action='' method='Post'>

	{{ form.as_p }}
		{% csrf_token %}
	<input type="submit" />
	</form>

	{% endif %}

{% endblock %}
{% endblock %}