<!DOCTYPE>
<html lang="en">
<head>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "static/css/style.css" %}" media="all" type = "text/css">
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    </head>
    

<body>
    <div class="container-fluid">
        {% block header %}
        <div class="row">
            <div class="col-xs-6">
                <h1 class="text-center text-uppercase color_antiquewhite">Incredible Note Organizer</h1>
            </div>
            <div class="col-xs-6">
                <div class="center">
                    
                    <p>Welcome, <a href=""> </a></p>
                    <a a href='' class="center">Log Out</a>
                   
                        <a href=''>Log In</a> or
                        <a href=''>Sign Up</a>
                   </p>

                   
                </div>
            </div>
        </div>    
        {% endblock %}

        {% block content %}
            {% endblock %}
     
    <a class="btn btn-success btn-lg btn_up" href="/note_rest/" role="button">Main Page</a>

    </div>        
        
    {% block footer %}
    <div class="wrapper">
        <p class="text-center color_antiquewhite">Thanks for visiting my site.</p>
    </div>    
    {% endblock %}
</body>
</html>
